#display-contacts-main-container {
  display: flex;
}

#header-container {
  display: flex;
  height: 8vh;
  align-items: center;

  border-bottom: 1px solid rgb(201, 198, 198);
  padding: 1%;
}
#header-container h2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
#header-container input {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#header-and-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header-search {
  display: flex;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #f2f2f2;
}

#header-search-results {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  left: 42.5%;
  top: 10%;
  background-color: white;
  width: 25%;
  border-radius: 7px;
  height: 250px;
  overflow-y: scroll;
  padding: 2%;
  overflow: hidden;
}
#sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #cef3ff;
  width: 17%;
  height: 100vh;
}
#sidebar-top-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#display-contacts-body {
  background-color: whitesmoke;
  border-radius: 7px;
  margin: 3%;
  padding: 1%;
}
#display-contacts-table {
  display: flex;
  justify-content: space-between;
}
#display-contacts-table button {
  margin-right: 2%;
}

#display-contacts-toolbar-left {
  width: 50%;
}

#display-contacts-toolbar-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
#contacts-table {
  width: 100%;
  margin-top: 1%;
}

#contacts-table-header {
  background-color: #b2dfff;
  height: 45px;
  text-align: left;
}
#table-footer {
  display: flex;
  flex-direction: column;
}
#table-footer-pages {
  align-self: flex-end;
}

#table-footer-pages button {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  cursor: pointer;
  margin-right: 10px;
}
input[type="checkbox"] {
  width: 12px; /*Desired width*/
  height: 12px; /*Desired height*/
  margin-top: 3px;
  margin-right: 10px;
}
.contacts-table-rows {
  height: 45px;
  border-radius: 5px;
}

tr:nth-child(odd) {
  background-color: #daebf8;
}

th:first-child,
td:first-child {
  border-radius: 7px 0px 0px 7px;
}

th:last-child,
td:last-child {
  border-radius: 0px 7px 7px 0px;
}
table {
  border-collapse: collapse;
}

tr:hover {
  background-color: white;
  transition: 0.2s;
  border: 1px solid rgb(134, 212, 228);
  border-radius: 5px;
}
th {
  color: #505050;
}
.tooltip-buttons {
  border: 0;
  padding: 0;
  background-color: #ffffff00;
  cursor: pointer;
}
.tooltip-buttons:hover {
  zoom: 1.02;
}
#import-box-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.284);
}
#import-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 180px;
  width: 200px;
  background-color: whitesmoke;
  border-radius: 7px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
#import-box p {
  margin-top: 1px;
  text-align: center;
  color: #2da5fc;
}
#import-box button {
  background-color: #2da5fc;
  border-radius: 7px;
  color: white;
  width: 100px;
  height: 30px;
  border: 0px;
}
#import-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#import-box-upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-email-row div {
  display: none;
  background-color: white;
  position: relative;
  top: 30px;
  z-index: 2;
  margin-top: 0px;
}

.table-email-row:hover div {
  display: block;
  animation-delay: 2s;
}
