#display-contacts-main-container {
  display: flex;
}

#header-container {
  display: flex;
  height: 8vh;
  align-items: center;

  border-bottom: 1px solid rgb(201, 198, 198);
  padding: 1%;
}
#header-container h2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
#header-container input {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#header-and-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#display-contacts-body {
  padding: 1%;
}
#display-contacts-table {
  display: flex;
  justify-content: space-between;
}
#display-contacts-table button {
  margin-right: 2%;
}

#display-contacts-toolbar-left {
  width: 50%;
}

#display-contacts-toolbar-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
#contacts-table {
  width: 100%;
  margin-top: 1%;
}

#contacts-table-header {
  background-color: #b2dfff;
  height: 45px;
  text-align: left;
}

input[type="checkbox"] {
  width: 12px; /*Desired width*/
  height: 12px; /*Desired height*/
  margin-top: 16px;
  margin-right: 10px;
}
.contacts-table-rows {
  height: 45px;
}
