.LandingPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../assets/loginpagebackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.Landing h1 {
  margin: auto;
  color: #7d8cc4;
}
.btn button {
  width: 300px;
  justify-content: center;
  margin: 1%;
  padding: 10px;
  background-color: #7d8cc4;
  border: 1px;
  border-radius: 5px;
  color: white;
  font-size: medium;
  cursor: pointer;
}
.LandingPage div {
  margin: 20px;
}

.btn a {
  color: rgb(255, 255, 255);
}

.LandingPage a {
  text-decoration: none;
}
