.Login {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 80vh;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100%-20px);
  height: 80vh;
  margin: 5%;
  /* background-color: rgb(148, 201, 248); */
  background-color: aliceblue;
  text-align: center;
}
.login-container h1 h5 {
  font-weight: 0;
}
/* 
div .wrapper-inp-btn{
    width: 300px;
    height: 300px;

} */
input {
  width: 400px;
  display: block;
  justify-content: center;
  margin: 1% auto;
  margin-top: 2%;
  padding: 10px;
}
.login-container button {
  width: 424.5px;
  justify-content: center;
  margin: 1%;
  padding: 10px;
  background-color: rgb(116, 116, 245);
  font-size: medium;
}

.login-container a {
  text-decoration: none;
  margin-top: 20px;
}
